{% extends "base.html" %}

{% block content %}
<ul>
  <li><a href="/home/" href="/home/">Home</a></li>
  <li><a class="active">Emergency</a></li>
  <li><a href="/preparation/">Preparation</a></li>
  <li><a href="/signs/">Signs to Look Out For</a></li>
  <li><a href="/faq/">FAQ</a></li>
  <li><a href ="/groups/">View Group</a></li>
</ul>


  <div style="margin-left:25%; padding:1px 70px; height:1000px;">
    <center>
<h1>Emergency</h1>
    <p style="background-color: #B62727; color:white"><b>Before anything else, be sure to call 911</b></p>
    </center>
    
 <dl>
  <dd>- Try to make room for the individual</dd>
  <dd>- If overheating try to move them into the shade and cool them down( remove excess clothing or sponge with cool water) </dd>
  <dd>- Hydrate with cool water. Avoid alchoholic or caffeinated drinks</dd>
  <dd>- For info on what you can do in case of a possible drug overdose please look at the link below.</dd>
   
 </dl>
  <a href= "https://www.safeproject.us/article/what-to-do-if-you-witness-an-overdose/?gclid=CjwKCAiAvOeQBhBkEiwAxutUVKmq30961X2LRd6qjFhbM35eCn6wf6JJlQgSBD_x89Qx0cSxql3W9xoCM-gQAvD_BwE">Suspected overdose </a> <br>

    <a href= "https://www.cnn.com/2021/11/13/us/how-to-stay-safe-at-concerts-cec/index.html">Dangerous crowds </a>
  </div>
  
{% endblock content %}