{% extends "base.html" %}

{%block content%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

<ul>
  <li><a class="active" href="/home/">Home</a></li>
  <li><a href="/emergency/">Emergency</a></li>
  <li><a href="/preparation/">Preparation</a></li>
  <li><a href="/signs/">Signs to Look Out For</a></li>
  <li><a href="/faq/">FAQ</a></li>
  <li><a href="/groups/">View Group</a></li>
</ul>

  <center>
    <div style="margin-left:25%;padding:1px 70px;height:1000px;">
    <h1>Welcome to Party.Smart </h1>
    <p>We are here to help you get through scary situations that can happen while partying. The different topics are shown on the left.</p>
      <p>To update your medical information, click on the button below.</p>

      <button class="button button5"><a href="/info/">Update information</a></button>
    </center>
    <script src="script.js"></script>
    </div>
  </body>
</html>

{%endblock content%}