{% extends "base.html" %}

{% block content %}
<style>
button.b {
  background-color: #B62727;
  border-radius: 12px;
  padding: 10px;
  width: 100%;
}
</style>

<ul>
  <li><a href="/home/" href="/home/">Home</a></li>
  <li><a href="/emergency/">Emergency</a></li>
  <li><a href="/preparation/">Preparation</a></li>
  <li><a class="active">Signs to Look Out For</a></li>
  <li><a href="/faq/">FAQ</a></li>
  <li><a href ="/groups/">View Group</a></li>
</ul>

<div style="margin-left:25%;padding:1px 70px;height:1000px;">
  <center>
<h1>Signs to Look Out For</h1>

    <!--HERE)-->
    <p style="background-color: #FF6A6A; color:black">Heat Stroke/ Heat Exhaustion</p>
  </center>
    
    <dl> <!--first set of bullet points--> 
      <dd>- Fatigue<dd>
      <dd>- Nausea / vomiting </dd>
      <dd>- Headache </dd>
      <dd>- Excessive Thirst </dd>
      <dd>- Muscles aches and cramps</dd>
      <dd>- Confusion and anxiety</dd>
      <dd>- Excessive sweat</dd>
      <dd>- Dizziness</dd>
      <dd>- Fainting</dd>
      <dd>- Shortness of breath</dd>
      <dd>- Convulsions </dd>
      

      <br>
      <center>
      <p style="background-color: #FF6A6A; color:black">Overdosing</p>
      </center>
    
    <dl>
      <dd>- MDMA/Ectasy) These are two of the most common drugs taken at festivals and can increase the chance of suffering from heat stroke/ heat exhaustion. It is also important to watch out for first time users consuming too much water which can be fatal. </dd>
      <dd>- Laced drugs) Fentanyl is being linked to more and more drug overdoses and is being used during the production of many drugs now however it is extremely dangerous. If there is a chance someone is suffering from an overdose from this get medical attention immediately. </dd>
      

      <center>
      <p style="background-color: #B62727; color:white"><b>Warning: many common festival and music event drugs can increase chance of heat stroke/exhaustion.We do not promote the use of drugs but we would rather educate people so they can help others than do nothing. </b></p>
      </center>

</div>


{% endblock content %}